<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <link rel="stylesheet" type="text/css" href="css/preset/preset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Vine Matchmaker</title>
</head>


<body>
	<div id="title-section">
    <h1 class="vine">Vine is Dead</h1>
    <h1 class="vine">but the Culture is Alive</h1>
    <p>Dogs are great. They are loyal and loving and all around good boys (unless it's a girl, then she's a good girl).</p>
  </div>
  
  <div>
    <h3>What Vine compilation is for you?</h3>
    <img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg" width="100px" /> 
    <h3>What Vine are you?</h3>
    <img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg" width="100px"/>
</div>


  <div class="info-section">
    <h3 class="doggie">Dogs:</h3>
      <a href="https://www.google.com/search?q=corgi+images&source=lnms&tbm=isch&sa=X&ved=0ahUKEwidlfftzc7bAhU9CTQIHT9HA64Q_AUICigB&biw=1034&bih=739&dpr=2">Corgi</a>
      <a href="https://www.google.com/search?biw=897&bih=739&tbm=isch&sa=1&ei=UwIgW_LlPOiT0wK1xZKAAQ&q=husky+images&oq=huskie+images&gs_l=img.1.0.0i10k1l7j0i7i5i30k1l3.4871.5838.0.7261.6.6.0.0.0.0.85.447.6.6.0....0...1c.1.64.img..0.6.446...0j0i67k1j0i7i30k1j0i8i7i30k1.0.5DHGrPb9BXA">Husky</a>
    <a href="https://www.google.com/search?q=yorkie&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiOyNSE087bAhVTFjQIHSj7Dd8Q_AUICigB&biw=897&bih=739&dpr=2">Yorkie</a>
    <a href=https://www.google.com/search?biw=1034&bih=739&tbm=isch&sa=1&ei=HwUgW_a-BeTT9AOwm5_oCw&q=pomeranian&oq=pom&gs_l=img.1.0.0i67k1l2j0l2j0i67k1l2j0l3j0i67k1.25259.25751.0.26616.3.3.0.0.0.0.81.223.3.3.0....0...1c.1.64.img..0.3.222....0.LpNHxJ0RnRw>Pomeranian</a>
      <a href="https://www.google.com/search?biw=1034&bih=739&tbm=isch&sa=1&ei=OgUgW4SHCYLR8AOd6r-QAw&q=golden+retriever&oq=gold&gs_l=img.1.0.0i67k1l4j0j0i67k1j0l4.219270.220170.0.221309.4.4.0.0.0.0.158.251.1j1.2.0....0...1c.1.64.img..2.2.249....0.sx3Yjgv3QrA">Golden retriever</a>
      <a href="https://www.google.com/search?biw=1034&bih=739&tbm=isch&sa=1&ei=GAYgW5_6CvLB0PEPoae8uAE&q=beagle&oq=bea&gs_l=img.1.0.0i67k1l6j0l4.9546.10125.0.11040.3.3.0.0.0.0.75.216.3.3.0....0...1c.1.64.img..0.3.213....0._KKU5kanPr8">Beagle</a>
  </div>
  
</body>
</html>




  <!--<div class="card-container">-->
  <!--  <div class="card">-->
  <!--   <div class="front">-->
  <!--   <h1>I love dogs</h1>-->
  <!--   </div>-->
  <!--    <div class="back">-->
  <!--    <img src= "https://media.giphy.com/media/mokQK7oyiR8Sk/giphy.gif"/>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  
  <!--  <div class="card-container-2">-->
  <!--  <div class="card-2">-->
  <!--   <div class="front-2">-->
  <!--   <h1>Look at this dog</h1>-->
  <!--   </div>-->
  <!--    <div class="back-2">-->
  <!--    <img src= "https://media.giphy.com/media/l2SpMU9sWIvT2nrCo/giphy.gif"/>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  
  <!--<div class="card-container-3">-->
  <!--  <div class="card-3">-->
  <!--   <div class="front-3">-->
  <!--   <h1>And this one!!!</h1>-->
  <!--   </div>-->
  <!--    <div class="back-3">-->
  <!--    <img src= "https://media.giphy.com/media/bKqtxkyPXJv8I/giphy.gif"/>-->
  <!--</div>-->
  <!--</div>-->